#pic_div{
    width: 220px;
    height: 280px;
    border:10px solid rgb(56, 54, 54);
    border-radius: 50%;
    background-image: url("/images/Nitin_Kalshetty_Pic.jpg");
    background-size: contain;
    background-position-x: 28px;
    background-repeat: no-repeat;
    background-color: white;
    background-position-y: 15px;
}
.pic{
    width: 100%;
}
#about{
    display: flex;
    justify-content: space-around;
    margin-bottom: 4%;
}
#about_div>h1{
    text-align: center;
    margin:2% auto;
}
#about_content{
    width:60%;
    border-radius: 15px;
    background: rgba(59, 46, 46, 0.8);
  backdrop-filter: saturate(180%) blur(10px);
    padding: 4%;

}
.about_name_context{
    display: inline;
}
.about_name{
    display: inline;
}
.about_summary{
    margin-top: 5%;
    font-size: 18px;
    text-align: justify;
    line-height: 28px;
}

@media only screen and (max-width:600px){
    #pic_div{
        width: 120px;
        height: 180px;
        background-position-x: 9px;
    }
    .about_summary{
        font-size: 10px;
        line-height: 16px;
    }
    .about_name{
        font-size: 14px;
    }
    .about_name_context{
        font-size: 11px;
    }
    #about_content{
        width: 40%;
        margin-left: -5%;
    }
}



@media only screen and (min-width:601px) and (max-width:1200px){
    #pic_div{

    }
    .about_summary{
        font-size: 14px;
    }
    .about_name{
        font-size: 20px;
    }
    .about_name_context{
        font-size: 16px;
    }
}