
*{
    margin: 0px;
    padding: 0px;
}
#top{
    background-image: url("images/red_black_keyboard.jpg");
    background-size: cover;
    background-position:left;
    height:700px;
}
.home{
    width:100%;
    height:600px;
    /* display: flex; */
    margin-top: -2%;
}
.name{
    font-size: 60px;
    color: rgb(176, 255, 242);
    font-weight: bolder;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left:2%;
}
.designation_query{
    font-size: 45px;
    margin-top: 5%;
    margin-left: 55%;
}
.designation{
    font-size: 60px;
    font-weight: bolder;
    margin-left: 55%;
}
.resume{
    font-size: 25px;
    display: block;
    width:84px;
    border-radius: 10px;
    padding:0px 8px 8px 4px;
    /* font-weight: bold; */
    margin-left: 55%;
    margin-top: 3%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#resumeID{
    background-color: rgb(31, 137, 121);
    border: 2px solid rgb(31, 137, 121);
}
#resumeID:hover{
    background-color: transparent;
}

body{
    background-color: rgb(31, 28, 28);
    color: white;
}
a{
    color: white;
    text-decoration: none;
}

#navbar{
    height:50px;
    position:sticky;
    /* background-color: rgb(20, 16, 16); */
}
#navbar>ul,#navbarCopy>ul{
    list-style-type: none;
    display: flex;
    margin-left: 55%;
    justify-content: flex-end;
    padding-right: 3%;
    z-index: 1;
    margin-top: 0.7%;
}
#navbar>ul>li,#navbarCopy>ul>li{
    margin-left: 5%;
    display: inline-block;
    /* border:2px solid red; */
}
#navbar>ul>li>a:hover,#navbarCopy>ul>li>a:hover{
    color: rgb(163, 242, 230);

}

.menu{
    visibility: hidden;
}
#navbar>ul>li{
  display: none;
}
#navbarCopy>ul>li{
    position: relative;
    top: -50px;
}


@media only screen and (max-width:600px){
    #navbarCopy>ul>li{
        visibility: hidden;
    }
    #navbar>ul{
        display: block;
        background-color: rgb(20, 16, 16);
        padding-bottom: 3%;
        border-end-start-radius: 50px;
    }
    #navbar>ul>li{
        display: block;
        margin-bottom: 5%;
        margin-left: 15%;
    }
    .menu{
        visibility: visible;
        margin-left: 93%;
        margin-top: 10px;
        
    }
    #navbar>ul>:first-child{
        margin-top: 5%;
    }
    .name{
        font-size: 30px;
    }
    .designation{
        font-size: 20px;
        margin-left: 20%;
    }
    .designation_query{
        font-size: 16px;
        margin-left: 20%;
        margin-top: 25%;
    }
    .resume{
        font-size: 15px;
        width:48px;
        padding: auto 0%;
        margin-left: 20%;
    }
   

}
@media only screen and (min-width:601px) and (max-width:1200px){
    #navbar>ul,#navbarCopy>ul{
        list-style-type: none;
        display: flex;
        margin-left: 34%;
        justify-content: flex-end;
        font-size: 15px;
    }#navbar>ul>li,#navbarCopy>ul>li{
        margin-left: 2%;
    }
    #navbar>ul>li{
        visibility: hidden;
    }
    .name{
        font-size: 40px;
    }
    .designation{
        font-size: 25px;
        margin-left: 30%;
    }
    .designation_query{
        font-size: 20px;
        margin-left: 30%;
    }
    .resume{
        font-size: 20px;
        width:65px;
        padding: auto 0%;
        margin-left: 30%;
    }
}