#project_div{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 3%;
    width: 90%;
    margin: auto;
}
#project_div>div{
    padding: 3%;
}
#project_div>div>img{
    width:100%;
    height: 300px;
    margin-bottom: 3%;
}
#project_div>div>div>div>img{
    width: 25px;
}
#project_div>div>div>div>a>img{
    width: 25px;
}
#project_div>div>div>div>a:first-child{
   display: inline-block;
   margin-left:50% ;
}

#project_div>div>div>div{
    display: flex;
    margin-left: 3%;
}
#project_div>div>div{
    display: flex;
   margin-top: 5%;
}

#projects>h1{
    text-align: center;
    margin-top: 2%;
}
.desc{
    height:70px;
}

@media only screen and (max-width:600px){
    #project_div{
        grid-template-columns: repeat(1,1fr);
    }
    #project_div>div>img{
        width: 100%;
        height: 60%;
    }
    .desc{
        height:45px;
        font-size: 8px;
        width:100%;
    }
    #project_div>div>div>h3{
        font-size: 12px;
    }
    #project_div>div>div>div>p,#project_div>div>div>div>a{
        font-size: 10px;
    }
    #projects>h1{
        font-size: 20px;;
    }
    #project_div>div>div{
       margin-top: 1%;
    }
    #project_div>div>div>div>img{
        width: 18px;
    }
    #project_div>div>div>div>a>img{
        width: 18px;
    }
  
}



@media only screen and (min-width:601px) and (max-width:1200px){
    #project_div{
        grid-template-columns: repeat(1,1fr);
    }
    #project_div>div>img{
        width: 100%;
        height: 70%;
    }
    .desc{
        height:60px;
        font-size: 12px;
        width:100%;
    }
    #project_div>div>div>h3{
        font-size: 18px;
    }
    #project_div>div>div>div>p,#project_div>div>div>div>a{
        font-size: 14px;
    }
    #projects>h1{
        font-size: 30px;;
    }
    #project_div>div>div{
       margin-top: 1%;
    }
    #project_div>div>div>div>a:first-child{
        margin-left:60% ;
     }
    
}