@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   text-decoration: none;
   border: none;
   outline: none;
   scroll-behavior: smooth;
   font-family: 'Poppins', sans-serif;

}

:root {
   --bg-color: #1f242d;
   --second-bg-color: #323946;
   --text-color: #fff;
   --main-color: #0ef;
}

html {
   font-size: 62.5%;
   overflow-x: hidden;

}

body {
   background: var(--bg-color);
   color: var(--text-color);
   overflow-x: hidden;
   margin: 0;
   padding: 0;
 }
 
 section {
   overflow: hidden;
   min-height: 100vh;
   padding-top: 10%;
   margin: 0 0 5% 5%;
 }
 

.header {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   padding: 2rem 9%;
   background: var(--bg-color);
   display: flex;
   justify-content: space-between;
   align-items: center;
   z-index: 100;

}

.header.sticky {
   border-bottom: .1rem solid rgba(0, 0, 0, .2);
}

.logo {
   font-size: 2.5rem;
   color: var(--text-color);
   font-weight: 600;
   cursor: default;
}

.navbar a {
   font-size: 1.7rem;
   color: var(--text-color);
   margin-left: 4rem;
   transition: .3s;
}

.navbar a:hover,
.navbar a.active {
   color: var(--main-color);
}

#menu-icon {
   font-size: 3.6rem;
   color: var(--text-color);
   display: none;
}

.home {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 80%;
}

.home-img img {
   width: 35vw;
   animation: floatImage 4s ease-in-out infinite;
}

@keyframes floatImage {
   0% {
      transform: translateY(0);

   }

   50% {
      transform: translateY(-22.4rem);
   }

   100% {
      transform: translateY(0);
   }

}

.home-content h3 {
   font-size: 3.2rem;
   font-weight: 700;
   width: 75rem;
}

.home-content h3:nth-of-type(2) {
   margin-bottom: 2rem;
}

span {
   color: var(--main-color);
}

.home-content h1 {
   font-size: 5.6rem;
   font-weight: 700;
   line-height: 1.3;
}

.social-media a {
   display: inline-flex;
   justify-content: center;
   align-items: center;
   width: 4rem;
   height: 4rem;
   background: transparent;
   border: .2rem solid var(--main-color);
   border-radius: 50%;
   font-size: 2rem;
   color: var(--main-color);
   margin: 3rem 1.5rem 3rem 0;
   transition: .5s ease;
}

.social-media a:hover {
   background: var(--main-color);
   color: var(--second-bg-color);
   box-shadow: 0 0 1rem var(--main-color);
}

.btn {
   display: inline-block;
   padding: 1rem 2.8rem;
   background: var(--main-color);
   border-radius: 4rem;
   box-shadow: 0 0 1rem var(--main-color);
   font-size: 1.6rem;
   color: var(--second-bg-color);
   letter-spacing: .1rem;
   font-weight: 600;
   transition: .5s ease;
}

.btn:hover {
   box-shadow: none;
}

.heading {
   text-align: center;
   font-size: 4.5rem;
}

.about h2 {
   margin-bottom: 5rem;

}

.about-container {
   display: flex;
   justify-content: left;
   flex-wrap: wrap;
   gap: 2rem;
}

.about-box {
   display: flex;
   gap: 10rem;
   align-items: center;
}

.about-box i {
   font-size: 7rem;
   color: var(--main-color);
}

.about-box h2 {
   font-size: 4.0rem;
}

.about-box h3 {
   font-size: 2.6rem;
}

.about-box p {
   font-size: 1.6rem;
   margin: 1rem 0 3rem;
   width: 95%;
}

.about-box img {
   width: 40rem;
   border-radius: 2rem;
}

.skills h2 {
   margin-bottom: 5rem;

}

.skills-container {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   gap: 2rem;
}

.skills-container .skills-box {
   flex: 1 1 10rem;
   background: var(--second-bg-color);
   padding: 1rem 1rem 1rem;
   border-radius: 2rem;
   text-align: center;
   border: .2rem solid var(--bg-color);
   transition: .5s ease;
}

.skills-container .skills-box:hover {
   border-color: var(--main-color);
   background: var(--main-color);
   color: black;
   transform: scale(1.02);
}

.skills-box i {
   font-size: 1rem;
   color: var(--main-color);
}

.skills-box h3 {
   font-size: 1.6rem;
}

.skills-box p {
   font-size: 1.6rem;
}

.skills-box img {
   width: 5rem;
   height: 5rem;
}

.headingTechStack {
   text-align: center;
   font-size: 3.6rem;
   margin-top: 5rem;
   margin-bottom: 5rem;
}

.portfolio {
   background: var(--second-bg-color);
}

.portfolio h2 {
   margin-bottom: 4rem;
}

.portfolio-container {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   align-items: center;
   gap: 5.5rem;
}

.portfolio-container .portfolio-box {
   position: relative;
   border-radius: 2rem;
   box-shadow: 0 0 1rem var(--bg-color);
   overflow: hidden;
   display: flex;
   justify-content: center;
}

.portfolio-box img {
   width: 70rem;
   height: 45rem;
   transition: .5s ease;
}

.portfolio-box:hover img {
   transform: scale(1.1);
}

.portfolio-box .portfolio-layer {
   position: absolute;
   bottom: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: linear-gradient(rgba(0, 0, 0, 0.6), var(--main-color));
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   text-align: center;
   padding: 0 4rem;
   transform: translateY(100%);
   transition: .5s ease;
   color: black;
}

.portfolio-box:hover .portfolio-layer {
   transform: translateY(0);
}

.portfolio-layer h4 {
   font-size: 3rem;
}

.portfolio-layer p {
   font-size: 1.6rem;
   margin: .3rem 0 1rem;
}

.portfolio-layer a {
   display: inline-flex;
   justify-content: center;
   align-items: center;
   width: 5rem;
   height: 5rem;
   background: var(--text-color);
   border-radius: 50%;
}

.portfolio-layer a i {
   font-size: 2rem;
   color: var(--second-bg-color);
}

.repo-links {
   display: flex;
}

.repo-div a:hover {
   background: var(--main-color);
   transform: scale(1.02);
}




.repo-div {
   padding: 0.6rem;
}

.techStack {
   font-size: 2rem;
   font-weight: bolder;
}

.contact h2 {
   margin-bottom: 3rem;
}

.contact form {
   max-width: 70rem;
   margin: 1rem auto;
   text-align: center;
   margin-bottom: 3rem;
}

.contact form .input-box {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea {
   width: 100%;
   padding: 1.5rem;
   font-size: 1.6rem;
   color: var(--text-color);
   background: var(--second-bg-color);
   border-radius: .8rem;
   margin: .7rem 0;
}

.contact form .input-box input {
   width: 49%;
}

.contact form textarea {
   resize: none;
}

.contact form .btn {
   margin-top: 2rem;
   cursor: pointer;
}

.footer {
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-wrap: wrap;
   padding: 2rem 9%;
   background: var(--second-bg-color);
}

.footer-text p {
   font-size: 1.6rem;
}

.footer-iconTop a {
   display: inline-flex;
   justify-content: center;
   align-items: center;
   padding: .8rem;
   background: var(--main-color);
   border-radius: .8rem;
   transition: .5s ease;
}

.footer-iconTop a:hover {
   box-shadow: 0 0 1rem var(--main-color);
}

.footer-iconTop a i {
   font-size: 2.4rem;
   color: var(--second-bg-color);
}

.text_logo {
   width: 50px;
   height: 45px;
   border-radius: 10px;
}



:root {
   --color-calendar-graph-day-bg: #dddbdb;
   --color-calendar-graph-day-L1-bg: #39dd34;
   --color-calendar-graph-day-L2-bg: #45a045;
   --color-calendar-graph-day-L3-bg: #047526;
   --color-calendar-graph-day-L4-bg: #0a4208;
}

.ContributionCalendar-day[data-level='0'] {
   background-color: var(--color-calendar-graph-day-bg);
}

.ContributionCalendar-day[data-level='1'] {
   background-color: var(--color-calendar-graph-day-L1-bg);
}

.ContributionCalendar-day[data-level='2'] {
   background-color: var(--color-calendar-graph-day-L2-bg);
}

.ContributionCalendar-day[data-level='3'] {
   background-color: var(--color-calendar-graph-day-L3-bg);
}

.ContributionCalendar-day[data-level='4'] {
   background-color: var(--color-calendar-graph-day-L4-bg);
}

table.ContributionCalendar-grid {
   margin-bottom: 0pt;
}

table.ContributionCalendar-grid td {
   padding: 4pt;
}

table.ContributionCalendar-grid td span.sr-only {
   display: none;
}

td.ContributionCalendar-label span[aria-hidden='true'] {
   font-size: 8pt;
   left: -1pt;
}

tool-tip {
   display: none;
}

.calendar .width-full>.float-left {
   display: none;
}

.calendar {
   font-family: Helvetica, arial;
   border: 1px solid #DDDDDD;
   border-radius: 3px;
   min-height: 243px;
   text-align: center;
   margin: 0 auto;
   background-color: #fffefe;
}

.calendar-graph text.wday,
.calendar-graph text.month {
   font-size: 10px;
   fill: #aaa;
}

div.px-md-5 {
   height: 2rem;
}

div.float-right {
   text-align: right;
   padding: 0 14px 10px 0;
   display: inline-block;
   float: right;
}

div.float-right div {
   display: inline-block;
   list-style: none;
   margin: 0 5px;
   position: relative;
   bottom: -1px;
   padding: 0;
}

div.float-right span.sr-only {
   display: none;
}

.contrib-legend .legend li {
   display: inline-block;
   width: 10px;
   height: 10px;
}

.text-small {
   font-size: 12px;
   color: #767676;
}

.calendar-graph {
   padding: 5px 0 0;
   text-align: center;
}

.contrib-column {
   padding: 15px 0;
   text-align: center;
   border-left: 1px solid #ddd;
   border-top: 1px solid #ddd;
   font-size: 11px;
}

.contrib-column-first {
   border-left: 0;
}

.table-column {
   box-sizing: border-box;
   display: table-cell;
   width: 1%;
   padding-right: 10px;
   padding-left: 10px;
   vertical-align: top;
}

.contrib-number {
   font-weight: 300;
   line-height: 1.3em;
   font-size: 24px;
   display: block;
   color: #333;
}

.calendar img.spinner {
   width: 70px;
   margin-top: 50px;
   min-height: 70px;
}

.monospace {
   text-align: center;
   color: #000;
   font-family: monospace;
}

.monospace a {
   color: #1D75AB;
   text-decoration: none;
}

.contrib-footer {
   font-size: 11px;
   padding: 0 10px 12px;
   text-align: left;
   width: 100%;
   box-sizing: border-box;
   height: 26px;
}

.left.text-muted {
   float: left;
   margin-left: 9px;
   color: #767676;
}

.left.text-muted a {
   color: #4078c0;
   text-decoration: none;
}

.left.text-muted a:hover,
.monospace a:hover {
   text-decoration: underline;
}

h2.f4.text-normal.mb-3 {
   display: none;
}

.float-left.text-gray {
   float: left;
}

#user-activity-overview {
   display: none;
}

.day-tooltip {
   white-space: nowrap;
   position: absolute;
   z-index: 99999;
   padding: 10px;
   font-size: 12px;
   color: #959da5;
   text-align: center;
   background: rgba(0, 0, 0, .85);
   border-radius: 3px;
   display: none;
   pointer-events: none;
}

.day-tooltip strong {
   color: #dfe2e5;
}

.day-tooltip.is-visible {
   display: block;
}

.day-tooltip:after {
   position: absolute;
   bottom: -10px;
   left: 50%;
   width: 5px;
   height: 5px;
   box-sizing: border-box;
   margin: 0 0 0 -5px;
   content: " ";
   border: 5px solid transparent;
   border-top-color: rgba(0, 0, 0, .85)
}

text.ContributionCalendar-label {
   fill: #ccc;
   font-size: 11px;
}

.gitCalendarTitle {
   text-align: center;
   margin-top: 2%;
   margin-bottom: 10%;
}

.git_data {
   display: flex;
   justify-content: space-evenly;
   margin-top: 2%;
}

.gitContribution {
   text-align: center;
}

.calendar span {
   color: black;
}


.contactMain{
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 10rem;
   margin-left: 10%;
   margin-right: 10%;
}
.iconDiv{
   margin-top: 3%;
}
.iconDiv a{
   margin: 0%;
}
.iconDiv span{
   color: white;
   margin-left: 3%;
   padding: auto;
   font-size: 2rem;
}
.contactSub h2{
   font-size: 2rem;
}
.contactSub p,.contactSub1 p{
   font-size: 1.6rem;
   width: 80%;
}
.contactSub{
   text-align: center;
}




@media screen and (max-width: 768px) {
   .table-column {
      display: block;
      width: 100%;
   }
}


@media (max-width:1200px) {
   html {
      font-size: 55%;
   }


   .about-container {
      display: inline-flexbox;
      justify-content: center;
   }

   .about-box {
      display: inline-block;
      text-align: center;
   }

   .about-box i {
      font-size: 2.5rem;
      color: var(--main-color);
   }

   .about-box p {
      margin: 2rem 0 3rem;
      width: 80rem;
   }

   .about-box img {
      width: 25rem;
      border-radius: 2rem;
   }

   .home-content h3,
   .home-content h1 {
      font-size: 3.6rem;
   }

   .resumeButton {
      font-size: 1.5rem;
   }

   .skills-box h3 {
      font-size: 1.4rem;
   }

   .git_data {
      display: block;
      margin-top: 2%;
   }

   .gitContribution {
      text-align: center;
   }

   .git_data img {
      width: 100%;
   }
}

@media(max-width:991px) {
   .header {
      padding: 2rem 3%;
   }

   section {
      padding: 10rem 3% 2rem;
   }

   .skills {
      padding-bottom: 7rem;
   }

   .portfolio {
      padding-bottom: 7rem;
   }

   .contact {
      min-height: auto;
   }

   .footer {
      padding: 2rem 3%;
   }


   .about-container {
      display: inline-flexbox;
      justify-content: center;
   }

   .about-box {
      display: inline-block;
      text-align: center;
   }

   .about-box i {
      font-size: 2.5rem;
      color: var(--main-color);
   }

   .about-box p {
      margin: 2rem 0 3rem;
      width: 70rem;
   }

   .about-box img {
      width: 25rem;
      border-radius: 2rem;
   }

   .home-content {
      width: 80%;
   }

   .home-content h3,
   .home-content h1 {
      font-size: 2.5rem;
   }

   .resumeButton {
      font-size: 1.2rem;
   }

   .skills-box h3 {
      font-size: 1.3rem;
   }


   .git_data {
      display: block;
      margin-top: 2%;
   }

   .gitContribution {
      text-align: center;
   }

   .git_data img {
      width: 100%;
   }


   .contactMain{
      display: block;
   }
   .iconDiv{
      margin-top: 3%;
   }
   .iconDiv a{
      margin: 0%;
   }
   .iconDiv span{
      font-size: 1.25rem;
      margin-left: 3%;
      padding: auto;
   }
   .contactSub h2{
      font-size: 2.1rem;
   }
   .contactSub p,.contactSub1 p{
      font-size: 1.4rem;
      width: 80%;
      text-align: center;
   }
   .contactSub{
      text-align: center;
      margin-top: 10%;
   }
}

@media(max-width:768px) {
   #menu-icon {
      display: block;
   }

   .navbar {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      padding: 1rem 3%;
      background: var(--bg-color);
      border-top: .1rem solid rgba(0, 0, 0, .2);
      box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
      display: none;
   }

   .navbar.active {
      display: block;
   }

   .navbar a {
      display: block;
      font-size: 2rem;
      margin: 3rem 0;
   }

   .home {
      flex-direction: column;
   }

   .home-content h3 {
      font-size: 2.6rem;
   }

   .home-content h1 {
      font-size: 5rem;
   }

   .home-img img {
      width: 70vw;
      margin-top: 4rem;
   }

   .about {
      flex-direction: column-reverse;
   }

   .about img {
      width: 70vw;
      margin-top: 4rem;
   }

   .skills h2 {
      margin-bottom: 3rem;
   }

   .portfolio h2 {
      margin-bottom: 3rem;
   }

   .portfolio-container {
      grid-template-columns: repeat(2, 1fr);
   }


   .about-container {
      display: inline-flexbox;
      justify-content: center;
   }

   .about-box {
      display: inline-block;
      text-align: center;
   }

   .about-box i {
      font-size: 2.5rem;
      color: var(--main-color);
   }

   .about-box h2 {
      font-size: 2.5rem;
   }

   .about-box h3 {
      font-size: 2rem;
   }

   .about-box p {
      font-size: 1.5rem;
      margin: 2rem 0 3rem;
      width: 40rem;
   }

   .about-box img {
      width: 25rem;
      border-radius: 2rem;
   }

   .home-content h3,
   .home-content h1 {
      font-size: 2rem;
   }

   .resumeButton {
      font-size: 0.9rem;
   }

   .skills-box h3 {
      font-size: 1.0rem;
   }

   .git_data {
      display: block;
      margin-top: 2%;
   }

   .git_data img {
      width: 100%;
   }

   .gitContribution {
      text-align: center;
   }

   .contactMain{
      display: block;
   }
   .iconDiv{
      margin-top: 3%;
   }
   .iconDiv a{
      margin: 0%;
   }
   .iconDiv span{
      font-size: 1.1rem;
      margin-left: 3%;
      padding: auto;
   }
   .contactSub h2{
      font-size: 1.8rem;
   }
   .contactSub p,.contactSub1 p{
      font-size: 1.4rem;
      width: 80%;
      text-align: center;
   }
   .contactSub{
      text-align: center;
      margin-top: 10%;
   }
}

@media(max-width:617px) {
   .portfolio-container {
      grid-template-columns: 1fr;
   }



   .about-container {
      display: inline-flexbox;
      justify-content: center;
   }

   .about-box {
      display: inline-block;
      text-align: center;
   }

   .about-box i {
      font-size: 2.5rem;
      color: var(--main-color);
   }

   .about-box h2 {
      font-size: 2.2rem;
   }

   .about-box h3 {
      font-size: 1.8rem;
   }

   .about-box p {
      font-size: 1.2rem;
      margin: 2rem 0 3rem;
      width: 40rem;
   }

   .about-box img {
      width: 25rem;
      border-radius: 2rem;
   }

   .home-content h3,
   .home-content h1 {
      font-size: 1.8rem;
   }

   .resumeButton {
      font-size: 0.7rem;
   }

   .skills-box h3 {
      font-size: 0.8rem;
   }

   .git_data {
      display: block;
      margin-top: 2%;
   }

   .git_data img {
      width: 100%;
   }

   .gitContribution {
      text-align: center;
   }

   .contactMain{
      display: block;
   }
   .iconDiv{
      margin-top: 3%;
   }
   .iconDiv a{
      margin: 0%;
   }
   .iconDiv span{
      font-size: 0.9rem;
      margin-left: 3%;
      padding: auto;
   }
   .contactSub h2{
      font-size: 1.6rem;
   }
   .contactSub p,.contactSub1 p{
      font-size: 1.2rem;
      width: 80%;
      text-align: center;
   }
   .contactSub{
      text-align: center;
      margin-top: 10%;
   }
}

@media(max-width:450px) {
   html {
      font-size: 50%;
   }

   .contact form .input-box input {
      width: 100%;
   }


   .about-container {
      display: inline-flexbox;
      justify-content: center;
   }

   .about-box {
      display: inline-block;
      text-align: center;
   }

   .about-box i {
      font-size: 2rem;
      color: var(--main-color);
   }

   .about-box h2 {
      font-size: 2.2rem;
   }

   .about-box h3 {
      font-size: 1.8rem;
   }

   .about-box p {
      font-size: 1.2rem;
      margin: 2rem 0 3rem;
      width: 40rem;
   }

   .about-box img {
      width: 25rem;
      border-radius: 2rem;
   }

   .home-content h3,
   .home-content h1 {
      font-size: 1.6rem;
   }

   .skills-box h3 {
      font-size: 0.8rem;
   }

   .git_data {
      display: block;
      margin-top: 2%;
   }

   .git_data img {
      width: 100%;
   }

   .gitContribution {
      text-align: center;
   }
   .contactMain{
      display: block;
   }
   .iconDiv{
      margin-top: 3%;
   }
   .iconDiv a{
      margin: 0%;
   }
   .iconDiv span{
      font-size: 0.9rem;
      margin-left: 3%;
      padding: auto;
   }
   .contactSub h2{
      font-size: 1.6rem;
   }
   .contactSub p,.contactSub1 p{
      font-size: 1.2rem;
      width: 80%;
      text-align: center;
   }
   .contactSub{
      text-align: center;
      margin-top: 20%;
   }
}

@media(max-width:365px) {
   .home-img img {
      width: 90vw;
   }

   .about-img img {
      width: 90vw;
   }

   .footer {
      flex-direction: column-reverse;
   }

   .footer p {
      text-align: center;
      margin-top: 2rem;
   }

   .about-container {
      display: inline-flexbox;
      justify-content: center;
   }

   .about-box {
      display: inline-block;
      text-align: center;
   }

   .about-box i {
      font-size: 1rem;
      color: var(--main-color);
   }

   .about-box h2 {
      font-size: 2.2rem;
   }

   .about-box h3 {
      font-size: 1.8rem;
   }

   .about-box p {
      font-size: 1.2rem;
      margin: 2rem 0 3rem;
      width: 30rem;
   }

   .about-box img {
      width: 20rem;
      border-radius: 2rem;
   }

   .skills-box h3 {
      font-size: 0.8rem;
   }

   .git_data {
      display: block;
      margin-top: 2%;
   }

   .git_data img {
      width: 100%;
   }

   .gitContribution {
      text-align: center;
   }

   .contactMain{
      display: block;
   }
   .iconDiv{
      margin-top: 3%;
   }
   .iconDiv a{
      margin: 0%;
   }
   .iconDiv span{
      font-size: 0.8rem;
      margin-left: 3%;
      padding: auto;
   }
   .contactSub h2{
      font-size: 1.2rem;
   }
   .contactSub p,.contactSub1 p{
      font-size: 0.8rem;
      width: 80%;
      text-align: center;
   }
   .contactSub{
      text-align: center;
      margin-top: 20%;
   }

}

#msg {
   color: #61b752;
   margin-top: -10px;
   display: block;
}
